ci:
  skip: [pylanguagetool]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.7.1
          - "@shopify/prettier-plugin-liquid"
  - repo: https://github.com/Roald87/pyLanguagetool
    rev: 80b72ffda4ebaf91c9e7c97daecc7555050b4758
    hooks:
      - id: pylanguagetool
        files: '.*\.(md|markdown)'
        exclude: "index.md|_posts/2023-03-18-switzerbrand"
        name: Languagetool spellcheck
        entry: pylanguagetool --input-type markdown --personal-word-list .pylanguagetoolignore
