name: ChatGPT corrections

on:
  pull_request:
    branches:
      - "*"
    paths:
      - "_posts/*.md"

jobs:
  add_alt_text:
    runs-on: ubuntu-latest
    name: Add alt text and perform a spell check with ChatGPT
    if: github.event.pull_request.draft == false
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      # https://github.com/stefanzweifel/git-auto-commit-action/issues/80
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # OR "2" -> To retrieve the preceding commit.

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: pip install -r _tools/alttext/requirements.txt

      - name: Get all changed *.md file(s) in the _posts folder
        id: changed-markdown-files
        uses: tj-actions/changed-files@v35
        with:
          files: _posts/*.md

      - name: Add Alt Text
        if: steps.changed-markdown-files.outputs.any_changed == 'true'
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: python _tools/alttext ${{ steps.changed-markdown-files.outputs.all_changed_files }} -v

      - name: Push Changes to PR Branch
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Add alt text by ChatGPT
          commit_user_name: GitHub Actions
          commit_user_email: actions@github.com
          file_pattern: "_posts/*.md"

      - name: Install Dependencies
        run: pip install -r _tools/spellinggpt/requirements.txt

      - name: Run spellcheck
        if: steps.changed-markdown-files.outputs.any_changed == 'true'
        env:
          OPENAI_API_KEY: ${{secrets.OPENAI_API_KEY}}
        run: python _tools/spellinggpt/main.py ${{ steps.changed-markdown-files.outputs.all_changed_files }} -vvvv

      - name: Push Changes to PR Branch
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Spellcheck by ChatGPT
          commit_user_name: GitHub Actions
          commit_user_email: actions@github.com
          file_pattern: "_posts/*.md"
